:root {
    --primary-color: #d88328;
    --secondary-color: #f0f0f0;
    --font-family: Arial, sans-serif;
    --font-size: 16px;
    --border-radius: 8px;
    --padding: 10px;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--secondary-color);
    overflow: hidden;
}

h1 {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: #d88328 2px solid;
    padding: 0 calc(var(--padding) * 2);
    border-radius: 50px;
    text-align: center;
    width: fit-content;
}

