:root {
    --primary-color: #d88328;
    --secondary-color: #f0f0f0;
    --font-family: Arial, sans-serif;
    --font-size: 16px;
    --border-radius: 8px;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--secondary-color);
    overflow: hidden;

    /* margin: 20px; */
    /* padding: 20px; */
}

#gui {
    position: absolute;
    /* bottom: 20px; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    display: flex;
    gap: 12px;
}

#map {
    position: absolute;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    width: 97vw;
    height: 95vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    /* max-width: 95vw; */
    /* max-height: 95vh; */
}

#buttons-row {
    position: absolute;
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

h1 {
    color: var(--primary-color);
}

