#gui-top > div {
    flex: 1;                   
    display: flex;
    justify-content: center;  
    align-items: center;     
    background-color: rgb(190, 140, 104);
}

#gui-top > div:first-child {
    justify-content: flex-start; 
    align-items: flex-start;    
    padding: var(--padding); 
}

#gui-top > div:nth-child(2) {
    align-items: flex-start;
    justify-content: center;     
}

#gui-top > div:last-child {
    justify-content: flex-end;  
    align-items: center;         
    padding: 0 var(--padding);
}


#gui-top {
    position: fixed;
    justify-content: center;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
}

#gui-bottom {
    position: fixed;
    justify-content: center;
    left: 50%;
    bottom: 1%;
    transform: translateX(-50%);
    width: 100vw;
    padding: var(--padding);
    display: flex;  
}

#searchbox {
    display: block;
    width: fit-content;
    margin: 0 auto;
    align-self: center;
}

#suggestions {
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 9999;
}

.suggestion {
    padding: 8px;
    cursor: pointer;
}

.suggestion:hover {
    background: #eee;
}

#buttons-row {
    display: flex;
    justify-content: center;
    gap: 5px;
}