#map {
    position: absolute;
    border: 1px solid var(--primary-color);
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}